[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FAO56"]
	path = FAO56
	url = https://github.com/cran/FAO56
[submodule "FloodFreqPlot"]
	path = FloodFreqPlot
	url = https://github.com/cran/FloodFreqPlot
